@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin :0;
    padding: 0;    
    font-family:"Roboto" ,sans-serif;
    box-sizing: border-box;
}
body{
    background-color: white;
    display: flex;
    height: 100vh;
    flex-direction: column;
}
header{
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 10px;
    padding-right: 100px;
    position: fixed;
    color: blue;
}
ul {
    list-style: none;
    width: 20%;
    display: flex;
    justify-content: space-between;

}
a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: blue;
}
a:hover{
    text-decoration: underline;
}
.whatching{
    background-color: #040517;
    color: white;
    width: 100%;
    height: 900px;
    margin-top: 40px;
    padding-top: 150px;
    padding-left: 100px;
    padding-bottom: 50px;
    background-image: url('images/profile.png');
    background-position: 1200px 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.Salutation {
    margin-bottom: 70px;
    font-size: 20px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 5s steps(43) forwards;
}

.Salutation::after {
    content: "|";
    animation: blink 0.7s infinite;
    font-size: 20px;
}

@keyframes typing {
    to { width: 100%; }
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
.Job{
    margin-bottom: 70px;
    font-size: 100px;
    color:#4588db;
}
.WhatIddo{
    margin-bottom: 50px;
    font-size: 40px;
}
.GithubLink{
    background-color:#2e5ce9;
    height: 60px;
    width: 300px;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    border-color: white;
    margin-bottom: 29px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
    transition: 0.7s ease;
}
.GithubLink i{
    font-size: 30px;
}
.GithubLink:hover{
    background-color:white;
    border-color: #2e5ce9;
    transform: scale(1.1);
    color: #2e5ce9;
}
.socialMedia{
    height: 30px;
    width: 13%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.socialMedia i{
    font-size: 30px;
    cursor: pointer;
}
.socialMedia i:hover{
    color: #2e5ce9;
}
.Services{
    background-color: aliceblue;
    color: #2e5ce9;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;

}
.servicesheader{
    padding-top: 30px;
    padding-left: 40%;
}
.servicesheader h3{
    font-size: 60px;
}
.servicesmain{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.servicesmain section {
    background-color:white;
    width: 400px;
    height: 500px;
    display: flex;
    padding-top: 40px;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 5px 5px 18px #4588db;
    transition: flex 1s ease-in;
    row-gap: 30px;
    cursor: pointer;
} 
.servicesmain section:hover{
    transform: scale(1.1);
}

.servicesmain i{
   color: #2e5ce9;
   font-size: 200px;
}
.servicesmain h3 {
   font-size: 20px;
}
.servicesmain h4{
    color: black;
    text-align: center;
    margin:0 20px 0;
}
.Projects{
    background-color:#040517;
    color:white;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    
}
.projectsheader{
    padding-top: 30px;
    padding-left: 40%;
    font-size: 60px;
    margin-bottom: 40px;
}
.projectsmain{
    width: 100%;
    height: 80vh;
    display: flex;
    padding: 10px 80px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px;
    padding-bottom: 50px;
}
.projCard  {
    background-color :white;
    width: 370px;
    height: 330px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px 0px 17px #2e5ce9;
    row-gap: 5px;
    transition: 1s ease;
}
.projCard:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.projCard p{
    color: black;
    display: flex;
    justify-content: start;
    font-size: 20px;
    font-weight: 100px;
    margin-left: 10px;
} 
.projCard h5 {
    color: green;
    font-size: 20px;
    font-weight: 100px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.projCard a {
    color: #2e5ce9;
    font-size: 25px;
    display: flex;
    justify-content: end;
    margin-right: 40px;
    margin-top: 10px;
}
.projCard a:hover{
    color:purple;
    text-decoration: none;
}
.projCard img{
    height: 220px;
}
.contacts{
    background-color: aliceblue;
    color: #2e5ce9;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}
.Contactsmain {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 70px 400px;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.Contactsmain section {
    background-color:white;
    width: 300px;
    height: 200px;
    display: flex;
    padding-top: 40px;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 5px 5px 18px #4588db;
    transition: flex 1s ease-in;
    row-gap: 30px;
    cursor: pointer;
} 
.Contactsmain i{
    color: #2e5ce9;
    font-size: 70px;
 }
 .Contactsmain section:hover{
    transform:scale(1.1);
 }